'body':
  'ctrl-n': 'editor:go-line-down'
  'ctrl-p': 'editor:go-line-up'
  'ctrl-h': 'editor:delete-char-before'
  'ctrl-b': 'editor:go-char-left'
  'ctrl-f': 'editor:go-char-right'
  'ctrl-y': 'core:paste'
'.CodeMirror textarea':
  'ctrl-e': 'editor:go-line-end'
  'ctrl-a': 'editor:go-line-start'
