# TODO: replace 3.7.2 with variable
# - name: Install python-language-server
#   shell: |
#     . ~/.pyenv/.pyenvrc &&
#     pyenv shell 3.7.2
#     pip install 'python-language-server[all]'
- name: Check if pycodestyle config exists
  stat:
    path: ~/.config/pycodestyle
  register: python_language_server_pycodestyle_stat

- name: Check file differences for pycodestyle
  command: >
    diff ~/.config/pycodestyle
    "{{ ghq_settings_root }}/roles/python_language_server/files/pycodestyle"
  register: python_language_server_pycodestyle_diff
  failed_when: false
  changed_when: false
  when: python_language_server_pycodestyle_stat.stat.exists and not python_language_server_pycodestyle_stat.stat.islnk

- name: Remove existing pycodestyle if identical to target
  file:
    path: ~/.config/pycodestyle
    state: absent
  when:
    - python_language_server_pycodestyle_stat.stat.exists
    - not python_language_server_pycodestyle_stat.stat.islnk
    - python_language_server_pycodestyle_diff.rc == 0

- name: Create symlink for pycodestyle config
  file:
    src: "{{ ghq_settings_root }}/roles/python_language_server/files/pycodestyle"
    dest: ~/.config/pycodestyle
    state: link
