[submodule "roles/pyenv"]
	path = roles/pyenv
	url = https://github.com/markosamuli/ansible-pyenv.git
[submodule "roles/rvm"]
	path = roles/rvm
	url = https://github.com/rvm/rvm1-ansible.git
[submodule "roles/chrome"]
	path = roles/chrome
	url = https://github.com/cmprescott/ansible-role-chrome.git
