- name: Check if tigrc exists
  stat:
    path: ~/.tigrc
  register: tig_tigrc_stat

- name: Check file differences for tigrc
  command: diff ~/.tigrc "{{ ghq_settings_root }}/roles/tig/files/tigrc"
  register: tig_tigrc_diff
  failed_when: false
  changed_when: false
  when: tig_tigrc_stat.stat.exists and not tig_tigrc_stat.stat.islnk

- name: Remove existing tigrc if identical to target
  file:
    path: ~/.tigrc
    state: absent
  when:
    - tig_tigrc_stat.stat.exists
    - not tig_tigrc_stat.stat.islnk
    - tig_tigrc_diff.rc == 0

- name: Create symlink for tigrc
  file:
    src: "{{ ghq_settings_root }}/roles/tig/files/tigrc"
    dest: ~/.tigrc
    state: link
