auto-save-list
eshell
tramp
.mc-lists.el
ac-comphist.dat
games/trrscores
session.*
shellenv.el
el-get/
elpa/
el-get-user/

dot.emacs.local.el
*~
backups/*
recentf
network-security.data
emacs-visited-files
undohist/
irony
.python-environments
var/
url/

flycheck_*.el
*.sqlite
.lsp-session-v1

transient
.cache
plugins/
emacsclient-window
emojis/
elpy/
company-statistics-cache.el