- name: Install base16-gnome-terminal requirements
  apt:
    name:
      - uuid-runtime
  become: true

- name: Clone base16-gnome-terminal using ghq
  shell: |
    eval "$({{ ansible_facts.env.HOME }}/.local/bin/mise activate bash)"
    ghq get https://github.com/aarowill/base16-gnome-terminal.git
  args:
    executable: /bin/bash

- name: Execute theme setting script
  command: ./base16-solarized-dark.sh
  args:
    chdir: "{{ ghq_root_path }}/github.com/aarowill/base16-gnome-terminal/color-scripts"
