- name: Check if git is installed
  apt:
    name: git
    state: present
  check_mode: true
  register: git_check
  when: ansible_facts.os_family == "Debian"

- name: Install git
  apt:
    name: git
  become: true
  when:
    - ansible_facts.os_family == "Debian"
    - git_check.changed

# Install delta via mise
- name: Install delta via mise
  command: mise use -g delta
  environment:
    PATH: "{{ ansible_facts.env.HOME }}/.local/bin:{{ ansible_facts.env.PATH }}"
  retries: 3
  delay: 5
  register: git_delta_install_result
  until: git_delta_install_result.rc == 0
