- name: Check if emacs.d already exists
  stat:
    path: "{{ ghq_root_path }}/github.com/garaemon/emacs.d"
  register: emacs_d_exists

- name: Clone emacs.d using ghq
  shell: |
    eval "$({{ ansible_env.HOME }}/.local/bin/mise activate bash)"
    ghq get https://github.com/garaemon/emacs.d
  args:
    executable: /bin/bash
  when: not emacs_d_exists.stat.exists

- name: Check if .emacs.d exists
  stat:
    path: ~/.emacs.d
  register: emacs_d_link_stat

- name: Check if .emacs.d directories are identical
  command: diff -r ~/.emacs.d {{ ghq_root_path }}/github.com/garaemon/emacs.d
  register: emacs_d_diff
  failed_when: false
  changed_when: false
  when: emacs_d_link_stat.stat.exists and not emacs_d_link_stat.stat.islnk

- name: Remove existing .emacs.d if identical to target
  file:
    path: ~/.emacs.d
    state: absent
  when:
    - emacs_d_link_stat.stat.exists
    - not emacs_d_link_stat.stat.islnk
    - emacs_d_diff.rc == 0

- name: Symlink for emacs.d
  file:
    src: "{{ ghq_root_path }}/github.com/garaemon/emacs.d"
    dest: ~/.emacs.d
    state: link

# Only for ubuntu
- name: Build emacs for Debian
  when: ansible_os_family == "Debian"
  block:
    - name: Set required Emacs version variable
      ansible.builtin.set_fact:
        emacs_required_emacs_version: "30.1"
        emacs_install_path: "{{ ansible_user_dir }}/.local/bin/emacs"

    - name: Check if target Emacs exists
      ansible.builtin.stat:
        path: "{{ emacs_install_path }}"
      register: emacs_stat

    - name: Get installed Emacs version if it exists
      ansible.builtin.command:
        cmd: "{{ emacs_install_path }} --batch --eval \"(message emacs-version)\""
      register: emacs_version_output
      when: emacs_stat.stat.exists
      changed_when: false
      failed_when: false

    - name: Parse installed Emacs version
      ansible.builtin.set_fact:
        emacs_installed_emacs_version: "{{ emacs_version_output.stderr | trim }}"
      when:
        - emacs_stat.stat.exists
        - emacs_version_output.rc == 0
        - emacs_version_output.stderr is defined
        - emacs_version_output.stderr != ""

    - name: Build Emacs if not already installed or version is too old
      when:
        - not (
                emacs_stat.stat.exists and
                emacs_installed_emacs_version is defined and
                emacs_installed_emacs_version is version(emacs_required_emacs_version, '>=') and
                ansible_distribution != 'Ubuntu'
              )
        - emacs_build_emacs | bool
      block:
      # Refer to https://github.com/KarimAziev/build-emacs/blob/main/build-emacs.sh
        - name: Install packages to build emacs (Ubuntu 22.04)
          apt:
            name:
              - autoconf
              - automake
              - bsd-mailx
              - build-essential
              - clang
              - dbus-x11
              - debhelper
              - dpkg-dev
              - g++-10
              - gawk
              - gcc
              - gcc-10
              - gnutls-bin
              - gvfs
              - heif-gdk-pixbuf
              - ibus-gtk3
              - imagemagick
              - libacl1-dev
              - libasound2-dev
              - libaspell15
              - libasyncns0
              - libatk-bridge2.0-0
              - libatk1.0-0
              - libatspi2.0-0
              - libbrotli1
              - libc6
              - libc6-dev
              - libcairo-gobject2
              - libcairo2
              - libcanberra-gtk3-0
              - libcanberra-gtk3-module
              - libcanberra0
              - libclang-dev
              - libconfig-dev
              - libdatrie1
              - libdb5.3
              - libdbus-1-dev
              - libdrm2
              - libegl1
              - libepoxy0
              - libflac8
              - libfontconfig1
              - libfreetype6
              - libgbm1
              - libgcc-s1
              - libgccjit0
              - libgdk-pixbuf2.0-0
              - libgif-dev
              - libgif7
              - libgl1
              - libglvnd0
              - libglx0
              - libgnutls28-dev
              - libgpm-dev
              - libgpm2
              - libgraphite2-3
              - libgstreamer-gl1.0-0
              - libgstreamer-plugins-base1.0-0
              - libgstreamer1.0-0
              - libgtk-3-0
              - libgtk-3-dev
              - libgudev-1.0-0
              - libharfbuzz-dev
              - libharfbuzz-icu0
              - libharfbuzz0b
              - libhyphen0
              - libibus-1.0-5
              - libice6
              - libjbig0
              - libjpeg-dev
              - libjpeg-turbo8
              - liblcms2-2
              - liblcms2-dev
              - liblockfile-dev
              - liblockfile1
              - libltdl7
              - libm17n-0
              - libm17n-dev
              - libmagickwand-dev
              - libmpc3
              - libmpfr6
              - libncurses-dev
              - libncurses5-dev
              - libnotify4
              - libnss-mdns
              - libnss-myhostname
              - libnss-systemd
              - libogg0
              - liborc-0.4-0
              - liboss4-salsa2
              - libotf-dev
              - libpango-1.0-0
              - libpangocairo-1.0-0
              - libpangoft2-1.0-0
              - libpixman-1-0
              - libpng-dev
              - libpng16-16
              - libpulse0
              - librsvg2-2
              - librsvg2-dev
              - libsasl2-2
              - libsecret-1-0
              - libselinux1-dev
              - libsm6
              - libsndfile1
              - libsoup2.4-1
              - libstdc++6
              - libsystemd-dev
              - libtdb1
              - libthai0
              - libtiff-dev
              - libtree-sitter-dev
              - libvorbis0a
              - libvorbisenc2
              - libvorbisfile3
              - libwayland-client0
              - libwayland-cursor0
              - libwayland-egl1
              - libwayland-server0
              - libwebpdemux2
              - libwoff1
              - libx11-6
              - libx11-dev
              - libx11-xcb1
              - libxau6
              - libxcb-render0
              - libxcb-shm0
              - libxcb1
              - libxcomposite1
              - libxcursor1
              - libxdamage1
              - libxdmcp6
              - libxext6
              - libxfixes3
              - libxft-dev
              - libxi6
              - libxinerama1
              - libxkbcommon0
              - libxml2
              - libxml2-dev
              - libxpm-dev
              - libxpm4
              - libxrandr2
              - libxrender1
              - libxslt1.1
              - libxt-dev
              - libyajl2
              - make
              - procps
              - quilt
              - sharutils
              - sqlite3
              - texinfo
              - xaw3dg-dev
              - zlib1g-dev
              - libgccjit-11-dev
              - ccache
              - libtool # for libvterm
              - libtool-bin # for libvterm
          become: true
          when: ansible_distribution_version == '22.04'
        - name: Install packages to build emacs (Ubuntu 24.04)
          apt:
            name:
              - autoconf
              - automake
              - bsd-mailx
              - build-essential
              - clang
              - dbus-x11
              - debhelper
              - dpkg-dev
              - g++-10
              - gawk
              - gcc
              - gcc-10
              - gnutls-bin
              - gvfs
              - heif-gdk-pixbuf
              - ibus-gtk3
              - imagemagick
              - libacl1-dev
              - libasound2-dev
              - libaspell15
              - libasyncns0
              - libatk-bridge2.0-0
              - libatk1.0-0
              - libatspi2.0-0
              - libbrotli1
              - libc6
              - libc6-dev
              - libcairo-gobject2
              - libcairo2
              - libcanberra-gtk3-0
              - libcanberra-gtk3-module
              - libcanberra0
              - libclang-dev
              - libconfig-dev
              - libdatrie1
              - libdb5.3
              - libdbus-1-dev
              - libdrm2
              - libegl1
              - libepoxy0
              - libflac12
              - libfontconfig1
              - libfreetype6
              - libgbm1
              - libgcc-s1
              - libgccjit0
              - libgdk-pixbuf2.0-0
              - libgif-dev
              - libgif7
              - libgl1
              - libglvnd0
              - libglx0
              - libgnutls28-dev
              - libgpm-dev
              - libgpm2
              - libgraphite2-3
              - libgstreamer-gl1.0-0
              - libgstreamer-plugins-base1.0-0
              - libgstreamer1.0-0
              - libgtk-3-0
              - libgtk-3-dev
              - libgudev-1.0-0
              - libharfbuzz-dev
              - libharfbuzz-icu0
              - libharfbuzz0b
              - libhyphen0
              - libibus-1.0-5
              - libice6
              - libjbig0
              - libjpeg-dev
              - libjpeg-turbo8
              - liblcms2-2
              - liblcms2-dev
              - liblockfile-dev
              - liblockfile1
              - libltdl7
              - libm17n-0
              - libm17n-dev
              - libmagickwand-dev
              - libmpc3
              - libmpfr6
              - libncurses-dev
              - libncurses5-dev
              - libnotify4
              - libnss-mdns
              - libnss-myhostname
              - libnss-systemd
              - libogg0
              - liborc-0.4-0
              - liboss4-salsa2
              - libotf-dev
              - libpango-1.0-0
              - libpangocairo-1.0-0
              - libpangoft2-1.0-0
              - libpixman-1-0
              - libpng-dev
              - libpng16-16
              - libpulse0
              - librsvg2-2
              - librsvg2-dev
              - libsasl2-2
              - libsecret-1-0
              - libselinux1-dev
              - libsm6
              - libsndfile1
              - libsoup2.4-1
              - libstdc++6
              - libsystemd-dev
              - libtdb1
              - libthai0
              - libtiff-dev
              - libtree-sitter-dev
              - libvorbis0a
              - libvorbisenc2
              - libvorbisfile3
              - libwayland-client0
              - libwayland-cursor0
              - libwayland-egl1
              - libwayland-server0
              - libwebpdemux2
              - libwoff1
              - libx11-6
              - libx11-dev
              - libx11-xcb1
              - libxau6
              - libxcb-render0
              - libxcb-shm0
              - libxcb1
              - libxcomposite1
              - libxcursor1
              - libxdamage1
              - libxdmcp6
              - libxext6
              - libxfixes3
              - libxft-dev
              - libxi6
              - libxinerama1
              - libxkbcommon0
              - libxml2
              - libxml2-dev
              - libxpm-dev
              - libxpm4
              - libxrandr2
              - libxrender1
              - libxslt1.1
              - libxt-dev
              - libyajl2
              - make
              - procps
              - quilt
              - sharutils
              - sqlite3
              - texinfo
              - xaw3dg-dev
              - zlib1g-dev
              - libgccjit-13-dev
              - ccache
              - libtool # for libvterm
              - libtool-bin # for libvterm
          become: true
          when: ansible_distribution_version == '24.04'
        - name: Clone and checkout specific version of emacs
          ansible.builtin.git:
            repo: https://github.com/emacs-mirror/emacs
            dest: "{{ ghq_root_path }}/github.com/emacs-mirror/emacs"
            version: "{{ emacs_version }}"
        - name: Get GCC version
          command: gcc -dumpversion
          register: emacs_gcc_version_output
          changed_when: false
        - name: Set GCC version variable
          set_fact:
            emacs_gcc_version: "{{ emacs_gcc_version_output.stdout }}"
        - name: Set GCC architecture
          set_fact:
            emacs_gcc_arch: "{{ 'aarch64' if ansible_architecture == 'aarch64' else 'x86_64' }}"
        - name: Set GCC library path
          set_fact:
            emacs_gccjit_lib_path: "/usr/lib/gcc/{{ emacs_gcc_arch }}-linux-gnu/{{ emacs_gcc_version }}"
        - name: Prepare configure for the latest emacs
          command: ./autogen.sh
          args:
            chdir: "{{ ghq_root_path }}/github.com/emacs-mirror/emacs"
        - name: Configure the latest emacs
          command: >
              ./configure --prefix=$HOME/.local --with-tree-sitter --with-sqlite3=yes
              --with-pgtk --with-native-compilation=aot --without-compress-install
              --with-tree-sitter --with-mailutilsroot
          args:
            chdir: "{{ ghq_root_path }}/github.com/emacs-mirror/emacs"
          environment:
            LIBRARY_PATH: "{{ emacs_gccjit_lib_path }}"
            LDFLAGS: "-L{{ emacs_gccjit_lib_path }}"
        - name: Decide parallel job numbers
          set_fact:
            emacs_build_parallel_jobs:
              "{{ [ansible_processor_threads_per_core * ansible_processor_cores, 4] | min }}"
        - name: Display Emacs build parallel jobs
          debug:
            msg: "make builds emacs with -j {{ emacs_build_parallel_jobs }}"
        - name: Build the latest emacs
          command: make CC="ccache gcc" CXX="ccache g++" -j {{ emacs_build_parallel_jobs }}
          args:
            chdir: "{{ ghq_root_path }}/github.com/emacs-mirror/emacs"
          environment:
            LIBRARY_PATH: "{{ emacs_gccjit_lib_path }}"
            LDFLAGS: "-L{{ emacs_gccjit_lib_path }}"
        - name: Install the latest emacs
          command: make install
          args:
            chdir: "{{ ghq_root_path }}/github.com/emacs-mirror/emacs"
          environment:
            LIBRARY_PATH: "{{ emacs_gccjit_lib_path }}"
            LDFLAGS: "-L{{ emacs_gccjit_lib_path }}"
