- name: Install Google Chrome
  when: ansible_facts.os_family == "Debian" and ansible_facts.architecture == "x86_64"
  block:
    - name: Install dependencies for Chrome
      apt:
        name:
          - wget
          - gnupg
        state: present
      become: true

    - name: Add Google Chrome signing key
      apt_key:
        url: https://dl.google.com/linux/linux_signing_key.pub
        state: present
      become: true

    - name: Add Google Chrome repository
      apt_repository:
        repo: deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main
        state: present
        filename: google-chrome
      become: true
      register: chrome_repository

    - name: Update apt cache
      apt:
        update_cache: true
      become: true
      when: chrome_repository.changed

    - name: Install Google Chrome
      apt:
        name: google-chrome-stable
        state: present
      become: true
