- name: Check if agg is installed
  command: which agg
  ignore_errors: true
  register: agg_which_result
  changed_when: false

- name: Install agg on Debian/Ubuntu
  when:
    - ansible_facts.os_family == "Debian"
    - agg_which_result.rc != 0
  block:
    - name: Set architecture to x86_64
      set_fact:
        agg_arch: x86_64
      when: ansible_facts.architecture == 'x86_64'

    - name: Set architecture to aarch64
      set_fact:
        agg_arch: aarch64
      when: ansible_facts.architecture == 'aarch64'

    - name: Set agg binary name
      set_fact:
        agg_binary_name: "agg-{{ agg_arch }}-unknown-linux-gnu"

    - name: Create tempfile for agg download
      tempfile:
        state: file
        suffix: agg_binary
      register: agg_tempfile

    - name: Download latest agg binary
      get_url:
        url: "https://github.com/asciinema/agg/releases/latest/download/{{ agg_binary_name }}"
        dest: "{{ agg_tempfile.path }}"
        mode: "0755"
      register: agg_download

    - name: Create .local/bin directory
      file:
        path: ~/.local/bin
        state: directory

    - name: Copy agg binary to .local/bin
      copy:
        src: "{{ agg_tempfile.path }}"
        dest: ~/.local/bin/agg
        mode: "0755"
        remote_src: true
      when: agg_download.changed
