name: Ansible Playbook Execution

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  minimal:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04]
    name: Execute minimal.yml on ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible

      - name: Install ansible galaxy collections
        run: ansible-galaxy collection install -r requirements.yml

      - name: Install ansible galaxy roles
        run: ansible-galaxy role install -r requirements.yml

      - name: Execute minimal.yml
        run: ansible-playbook -i localhost, -c local minimal.yml -v
        env:
          MISE_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  main:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04]
    name: Execute main.yml on ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Set up ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ runner.os }}

      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible

      - name: Install ansible galaxy collections
        run: ansible-galaxy collection install -r requirements.yml

      - name: Install ansible galaxy roles
        run: ansible-galaxy role install -r requirements.yml

      - name: Execute main.yml
        run: ansible-playbook -i localhost, -c local main.yml -v
        env:
          MISE_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
